---
layout: base-layout.njk
pagination:
  data: collections.races
  size: 10
  reverse: true
  alias: races
---
{% for post in races %}
  <article>

    <h1>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>

  </article>
{% endfor %}
