---
layout: base-layout.njk
title: Eressea Beispielpartie
---

<article>
    <h1>
      <a href="goblins">Goblins</a>
    </h1>
</article>

<article>
    <h1>
      <a href="aquarians">Meermenschen</a>
    </h1>
</article>

<article>
    <h1>
      <a href="dwarves">Zwerge</a>
    </h1>
</article>
