<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eressea Beispielpartie</title>

  <link rel="stylesheet" href="{{ '/css/site.css' | url }}">
  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="{{ '/' | url }}" class="link--home">Beispielpartie</a>
  <a href="{{ '..' | url }}" class="link--up">Up</a>
</header>
<main>
  {{ content | safe }}
</main>
<footer>&copy; Eressea PBEM</footer>
</body>
</html>
